[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pyinstaller = "*"
aioconsole = "*"
pylint = "*"
mypy = "*"

[packages]
aiofiles = {git = "https://github.com/Tinche/aiofiles.git"}
appscript = {version = "*",sys_platform = "== 'darwin'"}
peewee = "*"
pyside2 = {version = "*",sys_platform = "== 'darwin'"}
nest-asyncio = "*"
pysimplegui = "*"
pysimpleguiqt = {version = "*",sys_platform = "== 'darwin'"}
cchardet = "*"
beautifulsoup4 = "*"
lxml = "*"
requests = {extras = ["security"],version = "*"}
rumps = {version = "*",sys_platform = "== 'darwin'"}
pyobjc = {version = "*",sys_platform = "== 'darwin'"}
anyio = "*"
sniffio = "*"
trio = "*"
httpx = "*"

[requires]
python_version = "3.7"
